// Primary colors
$color-pr-purple: #7158e2;
$color-pr-dark: #2b2b2b;
$color-pr-grey: #828089;
$color-pr-white-gr: #f4f4f4;
$color-pr-white: #ffffff;
$color-pr-yellow: rgba(252, 220, 0, 0.8);

// Dark colors
$color-dark-one: #18191a;
$color-dark-two: #242526;
$color-dark-three: #3a3b3c;

// Gradient colors
$color-gr-1: linear-gradient(259.81deg, #21d4fd -27.14%, #0283e9 115.5%);
$color-gr-2: linear-gradient(103.86deg, #00c6ff -22.01%, #0183e7 117.6%);
$color-gr-3: linear-gradient(238.66deg, #0283e9 -18.13%, #fc01ca 120.27%);

// Font sizes
$h1: 48.83px;
$h2: 39.0625px;
$h3: 31.25px;
$h4: 25px;
$h5: 20px;
$h6: 16px;
$h7: 12.8px;
$h8: 10.24px;
